//COLORS
// $primary:             #000142
// $primary:             #6e1217;
$primary:             #0a182e;

// $primary:             #581845;
// color: #2762ba;
$primary-light:       lighten($primary, 20%);
$primary-lighter:     lighten($primary, 30%);
$primary-lighter1:    lighten($primary, 40%);
$primary-darken:      darken($primary, 15%);
$secondary:           #030303;
$grey-1:     #161618;
$grey-2:     #767676;
$grey-3:     #b5b5b5;
$grey-4:     #4a4a4a;
$grey:       #cacaca;
$secondary-super-lighter:   #e4e4e4;
$background-primary:  #FFFFFF;
$background-primary-darker:  #F6F7FB;
$background-secondary:$secondary;
$background-secondary-darker: #000000;
$success:             #57BC27;
$warning:             #F9B13D;
$text-negative:       white;

          //name //color //text or false
$colors:  "primary" $primary $text-negative,
          "primary-light" $primary-light $text-negative,
          "primary-lighter" $primary-lighter false,
          "secondary" $secondary $text-negative,
          "secondary-light" $grey-1 $text-negative,
          "grey-2" $grey-2 false,
          "background-primary" $background-primary false,
          "background-secondary" $background-secondary false,
          "white" white false,
          "black" black $text-negative,
          "success" $success $text-negative,
          "warning" $warning $text-negative;

$gutter: 				  2.4rem;
$header-height:             7rem;
$header-height-breakpoint:  5rem;
$nav-responsive-width:      26rem;

$border-radius: 					  3px;
$shadow:									  0 2px 4px rgba(black, .08);
$background-lighter: #fafafa;

// Vscode One dark pro colors
$codeColor1: #2bbac5;
$codeColor2: #d55fde;
$codeColor3: #f44747;
$codeColor4: #ef596f;
$codeColor5: #d19a66;
$codeColor6: #e5c07b;
$codeColor7: #7f848e;
$codeColor8: #5c6370;
$codeColor9: #61afef;
$codeColor10: #89ca78;
$codeColor11: #2bbac5;


// -webkit- para Chrome y Safari
// -moz- para Mozilla
// -o- para Ópera
// -ms- para Explorer 